<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Dsn=cat;dbq=G:\hospital\cat.mdb;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin"
            providerName="System.Data.Odbc" />
        <add name="catConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=G:\hospital\cat\cat.mdb"
            providerName="System.Data.OleDb" />
        <add name="cat" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=G:\hospital\cat.mdb"
            providerName="System.Data.OleDb" />
        <add name="catConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=G:\hospital\cat.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5"  />
    </system.web>

</configuration>
